
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登陆</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div id="register" ng-app="LoginApp" ng-controller="LoginCtrl">
        <div class="register_background" style="height:380px">

        </div>
        <div class="register_content" style="height:380px">
            <div class="register_content_1">
                <h4 style="margin:0;line-height:40px;margin-left:20px;float:left">账号</h4>
                <h4 style="margin:0;line-height:40px;float:left;color:blue;">登陆</h4>
            </div>
            <div class="register_content_2">
                <p>用户名</p>
                <input type="search" placeholder="*" ng-model="num" />
                <p>密码</p>
                <input type="password" placeholder="*" ng-model="password" />                
                <p style="color:red">用户名为学号，初始密码：111111</p>
            </div>
            <div class="register_content_3">
                <button ng-click="land()">立即登陆</button>
            </div>            
        </div>
    </div>
</body>
</html>
