
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>From</title>
</head>
<body>
    <div>
        <form action="/Login/To">
            <input type="text" name="a" value="" />
            <input type="text" name="b" value="" />
            <button type="submit">a</button>
        </form>
    </div>
</body>
</html>
